* {
  margin: 0;
  padding: 0;
}

body {
  background: var(--color-gray-darker);
}

ul {
  list-style: none;
}

h1 {
  margin: 0.67em 0;
  color: var(--color-gray);
  font-weight: 600;
  line-height: 1.5;
}

a {
  color: var(--color-primary);
  cursor: pointer;
}

a:hover {
  color: var(--color-blue);
}

p {
  margin-top: 40px;
}